.row
  .span6
    %h1.capitalize
      = @project.name
  .span3.pull-right
    .settings
      %a{href: settings_project_url(@project.name)} settings
.row.project
  .p
    Proyecto
  .span2.eh
    = t('views.milestones.hours_reporter.estimate_hours')
    = @hours_reporter.project_estimate_hours
  .span2.ceh
    = t('views.milestones.hours_reporter.client_estimate_hours')
    = @hours_reporter.project_client_estimate_hours
  .span2.wh
    = t('views.milestones.hours_reporter.worked_hours')
    = @hours_reporter.project_worked_hours
.row.milestone
  .p
    Milestone
  .span2.eh
    = t('views.milestones.hours_reporter.estimate_hours')
    = @hours_reporter.project_current_milestone_estimate_hours
  .span2.ceh
    = t('views.milestones.hours_reporter.client_estimate_hours')
    = @hours_reporter.project_current_milestone_client_estimate_hours
  .span2.wh
    = t('views.milestones.hours_reporter.worked_hours')
    = @hours_reporter.project_current_milestone_worked_hours
.row-fluid#milestones
  %div#issues
    %div
      - if !@project.current_milestone
        .span6 no current milestone
      - else
        .current-milestone.js-milestone.span6{'data-milestone-number' => "#{@project.current_milestone.number}"}
          %a.accordion-toggle.js-milestone-title= t('views.milestones.loading.title')
          - @project.current_milestone.issues.each do |issue|
            .div= render partial: 'projects/issue', locals: { issue: issue }
    .backlog.span6
      .accordion.milestones#milestonesAccordion
        - @project.backlog.each do |number, issues|
          .accordion-group.milestone.js-milestone{'data-milestone-number' => "#{number}"}
            .accordion-heading
              = render partial: 'milestone_title', locals: { number: number }
            .accordion-body.collapse.in{ id: "milestone_#{number}"}
              - issues.each do |issue|
                = render partial: 'projects/issue', locals: { issue: issue }
